@charset "utf-8";

.menu{
    width: 60px;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #3f3f3f;
}

@font-face{
    font-family: 'neoteric';
    src: url(../fontes/neoteric.ttf);
  }