@charset "utf-8";

@font-face{
	font-family: 'space';
	src: url(../fontes/space.ttf);
}
@font-face{
	font-family: 'neoteric';
	src: url(../fontes/neoteric.ttf);
}
@font-face{
  font-family: 'umba';
  src: url(../fontes/umba.otf);
}

.list_img{
	position: relative;
	top: 50px;
	margin: 0 auto 0 auto;
	width: 90%;
}
.list_img ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 100px;
	margin-top: 50px;
}
.list_img li{
	margin-right: 50px;
	list-style: none;
}
.list_img li img{
	position: relative;
	width: 330px;
	border-radius: 20px;
	height: 170px;

}
.list_img .name_image{
	font-family: 'space';
	color: green;
	position: relative;
	font-size: 21px;
}
#texto{
	font-family: 'arial';
	position: relative;
	font-size: 17px;
	margin-bottom: 150px;
}
.image_info{
	position: relative;
}
/*LISTA 1*/
.operation_list img{
	margin-top: 90px;
	width: 65px;
	position: relative;
	margin-bottom: 30px;
}
.operation_list{
	background-image: url('../fotos/back.png');
	background-size: cover;
	width: 100%;
	height: 600px;
	position: relative;
}.operation_list .subtitle{
	font-family: 'space';
	font-size: 20px;
}
#table_one{
	position: relative;
	margin-left: 250px;
	justify-content: center;
}
#table_two{
	margin-right: 250px;
	position: absolute;
	right: 0;
	top: 0;
}
.operation_list p{
	font-family: 'arial';
	font-size: 15px;
}
.info_list{
	position: relative;
	width: 100%;
	margin-top: 150px;
}
#table_info_one{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-5%);
}
.sub_title_info{
	font-family: 'space';
	font-size: 25px;
	color: green;
}
.info_list .desc{
	font-family: 'umba';
	font-size: 15px;
}
#itens_two .title_desc{
	right: 10px;
	position: relative;
}
#itens_two #img_two{
	position: relative;
	left: 130px;
}
.div_bottom{
	background-image: url('../fotos/back.png');
	background-size: cover;
}
#table_info_two{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
}
#table_info_two img{
	position: relative;
	margin-right: 100px;
}
#title_info_bottom{
	font-family: 'umba';
	font-size: 25px;
	color: white;
}
#desc_info_bottom{
	font-family: 'neoteric';
	font-size: 15px;
	color: white;
}
#bt_list{
	background-color: #d1c84b;
	border-radius: 20px;
	border: none;
	padding: 10px;
	font-family: 'arial';
	font-size: 15px;
	color: white;
}










